@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 50% 1fr;
  background-image: url(8bit.jpg);
  background-position: -50px;
}

header {
  padding-top: 10px;
  margin: 25px;
  grid-column: 2/3;
  text-align: center;
  font-size: 50px;
}

article {
  margin: 20px;
  text-align: center;
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 30px;
}

main {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}

#board {
  width: 500px;
  height: 500px;
  border: 5px solid black;
}
